body{
    
    margin:0;
}
*{
    box-sizing: border-box;
}
.topnav{
    background-color: black;
    overflow: hidden;
}

.topnav a{
    color : azure;
    float: left;
    display :block;
    text-decoration: none;
    text-align :left;
    padding: 20px;
}
.topnav-right {
    
    float: right;
    
}
.topnav a:hover{
    color:black;
    text-decoration: none;
    background-color: azure;

}

.footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color:white;
}
/* Ensure the image covers the full right half */
#img_sign {
        object-fit: cover;
        /* Ensures it covers the entire width of the container */
    }

.container {
        padding: 0;
        margin: 0;
    }
    #form{
        background-color: #cfced4;
    }
